Repository nmstreethran/ml-elec-model: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages, links

.gitlab-ci.yml:

stages:
  - test
  - deploy
  - test_links

# testing sphinx doc build
test:
  stage: test
  image: python:latest
  script:
    - pip install bokeh geopandas pydata-sphinx-theme
    - sphinx-build -b html docs public
  only:
    refs:
      - merge_requests
    changes:
      - docs/**/*
  except:
    - schedules

# building and deploying sphinx doc
pages:
  stage: deploy
  image: python:latest
  script:
    - pip install bokeh geopandas pydata-sphinx-theme
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public
  only:
    refs:
      - master
    changes:
      - docs/**/*
  except:
    - schedules

# testing links in markdown and rst files
# https://github.com/dkhamsing/awesome_bot
links:
  stage: test_links
  image: ruby:latest
  before_script:
    - gem install awesome_bot
  script:
    - "awesome_bot --allow-dupe --skip-save-results --white-list
      doi.org,ml-elec-model.git,img.shields.io,\
      dnvgl.com/services/forecaster-94823,gridscientific.com/about-us
      `find . -name '*.md'` `find . -name '*.rst'`"
  only:
    refs:
      - schedules
      - merge_requests
    changes:
      - "**/*.rst"
      - "**/*.md"

update powerplant loc
  scripts/rpowerplants_met_loc.py
Due: none

update scripts after flake8 lint
  .gitlab-ci.yml
  README.md
  scripts/countries.py
  scripts/entsoe_data.py
  scripts/met_data.py
  scripts/met_stations.py
  scripts/met_stations_plot.py
  scripts/nuts3.py
  scripts/postcodes.py
  scripts/rpowerplants.py
  scripts/rpowerplants_met_loc.py
  scripts/zones.py
  scripts/zones_plot.py
Due: links

update ci conf; reqs file
  .gitlab-ci.yml
  requirements.txt
Due: none

update scripts
  scripts/countries_plot.py
  scripts/met_stations_plot.py
  scripts/nuts3_plot.py
  scripts/rpowerplants.py
  scripts/rpowerplants_met_loc.py
  scripts/zones_plot.py
Due: none

add sizing mode to plot
  docs/_templates/layout.html
  docs/conf.py
  scripts/met_stations_plot.py
Due: test, pages

fix indentation
  scripts/rpowerplants.py
  scripts/rpowerplants_met_loc.py
Due: none

update CI
  .gitlab-ci.yml
  scripts/zones_plot.py
Due: none

fix plots / doc
  LICENSE.md
  docs/_templates/layout.html
  docs/data_used/regions.rst
  scripts/met_stations_plot.py
  scripts/zones_plot.py
Due: test, pages, links

update scripts and datasets
  docs/conf.py
  docs/images/bidding_zones.png
  scripts/entsoe_data.py
  scripts/met_data.py
  scripts/met_stations.py
  scripts/met_stations_plot.py
  scripts/rpowerplants.py
  scripts/rpowerplants_met_loc.py
  scripts/zones_plot.py
Due: test, pages

update plots, scripts
  docs/data_used/regions.rst
  docs/images/countries.png
  docs/images/zones.png
  scripts/countries_plot.py
  scripts/rpowerplants_met_loc.py
  scripts/wind_agg_plot.py
  scripts/zones_plot.py
Due: test, pages, links

rename power plant scripts
  scripts/rpp.py
  scripts/rpp_agg.py
Due: none

update docs
  README.md
  docs/data_used/aggregated.rst
  docs/data_used/data-sources.rst
  docs/data_used/index.rst
  docs/data_used/met-data.rst
  docs/data_used/regions.rst
  docs/glossary.rst
  docs/index.rst
  docs/literature/index.rst
  docs/literature/project-focus.rst
  scripts/wind_agg_plot.py
Due: test, pages, links

update scripts, docs
  .gitlab-ci.yml
  LICENSE.md
  README.md
  docs/data_used/data-sources.rst
  docs/data_used/tso-data.rst
  docs/index.rst
  scripts/met_data.py
  scripts/met_stations.py
  scripts/rpp_agg.py
Due: test, pages, links

update docs, gitlab api url
  README.md
  docs/_templates/layout.html
  docs/data_used/tso-data.rst
  docs/index.rst
  docs/references.rst
  scripts/countries_plot.py
  scripts/met_data.py
  scripts/met_stations_plot.py
  scripts/rpp_agg.py
  scripts/wind_agg_plot.py
Due: test, pages, links

update gitignore, data import links
  .gitignore
  scripts/wind_agg_plot.py
  scripts/zones_plot.py
Due: none

update docs and readme
  README.md
  docs/data_used/data-sources.rst
  docs/data_used/met-data.rst
  docs/index.rst
  docs/references.rst
Due: test, pages, links

specify python version; separate venv and conda
  .gitlab-ci.yml
  README.md
  docs/index.rst
Due: test, pages, links

Revert "Merge branch 'shapely_geos_error' into 'master'"
  .gitlab-ci.yml
  README.md
  docs/index.rst
Due: test, pages, links

specify python version; separate pip, conda
  .gitlab-ci.yml
  README.md
  docs/index.rst
Due: test, pages, links

update ci
  .gitlab-ci.yml
Due: none

fix installation instructions
  README.md
  docs/index.rst
Due: test, pages, links

convert readme to rst
  README.md
Due: links

change readme extension and add to sphinx
  README.rst
Due: links

add readme to sphinx
  copy.sh
  docs/index.rst
  docs/readme.rst
Due: test, pages, links

update docs footer
  docs/conf.py
Due: test, pages

update CI for pages deployment
  .gitlab-ci.yml
  copy.sh
  docs/readme.rst
Due: test, pages, links

fix ci deploy script
  .gitlab-ci.yml
Due: none

update readme
  .gitlab-ci.yml
  README.rst
  docs/conf.py
Due: test, pages, links

new year + ci update
  .gitlab-ci.yml
  LICENSE.md
  README.rst
  docs/conf.py
Due: test, pages, links

cahnge license extension
  docs/LICENSE
Due: test, pages

update license; ci; readme
  .gitlab-ci.yml
  README.rst
  docs/LICENSE
Due: test, pages, links

remove submodule
  .gitmodules
Due: none

update readme
  README.rst
Due: links
